<section id="secL">
    <div class="container">

        <form  class="form-signin">
            <img  width="50" height="50" alt="Logo" />
            <h3 class="form-signin-heading" text="Welcome"></h3>
            <br/>
            <div class="input-group input-group-lg mb-8">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" id="email" name="email" placeholder="Email" class="form-control" />
        </div> <br/>

        <div class="input-group input-group-lg mb-8">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span><input type="password" placeholder="Password" id="password" name="password" class="form-control" /></div><br>
            <div class="input-group input-group-lg mb-12">
                <div class="p-col-12 p-md-4">
            <button pButton pRipple icon="pi pi-sign-in" name="Submit" label="Login" type="button" text="Login"></button>
        </div>
        <div class="p-col-12 p-md-4">

            <span class="">New user? <a href="/">Register here</a></span>
        </div>
    </div>
    </form>

</div>
</section>