<h5>Welcome</h5>
<form>
<div class="p-grid p-fuild">

	<div class="p-field p-ai-stretch">
		<textarea pInputTextarea autoResize="autoResize" [rows]="8" [cols]="50"></textarea>

	</div>
<div class="p-col">
	<div class="p-field p-ai-stretch">
		<div class="p-inputgroup">
			<span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
		    <span class="p-float-label">
			<input type="text" id="inputtext" pInputText>
			<label for="inputtext">User Name</label>
		    </span>
	    </div>
	</div>

	<div class="p-field p-ai-stretch">
		<div class="p-inputgroup">
			<span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
		    <span class="p-float-label">
			<input type="text" id="inputtext" pInputText>
			<label for="inputtext">Email</label>
		    </span>
	    </div>
	</div>

	<div class="p-field p-grid">
        <button pButton pRipple  type="submit"  label="Send" class="p-button-rounded"></button>
    </div>

</div>
</div>
</form>