<section id="sec">
	<div class="p-grid p-fluid">
		<div class="p-col-12 p-md-4">
			<div class="p-inputgroup">
	<img src="">
	<h5>Addons</h5>
</div></div>
	</div>
<form>
	
	<div class="p-grid p-fluid">
		<div class="input-group input-group-lg mb-8">
		<!-- First Name-->
		<div class="input-group input-group-lg mb-4 p-col-8">
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
				<input type="text" name="fName" pInputText placeholder="First Name" class="form-control">
			</div>
		</div>
		<!-- Last Name-->
		<div class="input-group input-group-lg mb-4 p-col-8">
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
				<input type="text" name="lName" pInputText placeholder="Last Name" class="form-control">
			</div>
		</div>
		<!-- email -->
		<div class="input-group input-group-lg mb-4 p-col-8">
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
				<input type="text" name="email" pInputText placeholder="Email" class="form-control">
			</div>
		</div>
		<!-- Password -->
		<div class="input-group input-group-lg mb-4 p-col-8">
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
				<input type="text" name="password" pInputText placeholder="Password" class="form-control">
			</div>
		</div>


		<!-- button-->
		<div class="p-col-4 p-md-2">
			<div class="p-inputgroup">
				<button type="button" class="form-control" pButton pRipple icon="pi pi-submit" styleClass="p-button-warn" label="submit"></button>
			</div>
		</div>
		<div class="p-col-4 p-md-2">
		<div class="form-group">
                        <span>Already registered? <a href="#">Login
								here</a></span>
        </div>
    </div>
	</div>
</div>
</form>
</section>